<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/includes/head"></th:block>
<body>
	<button class="btn btn-light">
		<a href="/backend">Acceuil</a>
	</button>
	<div align="center">
		<h1>Nouveaux Services</h1>
		<br />
		<form action="#" th:action="@{/save/services}" th:object="${services}"
			method="post">
			<table border="0" cellpadding="10">
				<tr>
					<td>Libellé:</td>
					<td><input type="text" th:field="*{serviceLibelle}" /></td>
				</tr>
				<tr>
					<td>Descriptif:</td>
					<td><input type="text" th:field="*{serviceDescriptif}" /></td>
				</tr>
				<tr>
					<td>Validité:</td>
					<td><input type="text" th:field="*{serviceValid}" /></td>
				</tr>
				<tr>
					<td>Acteur:</td>
					<td><select th:field="*{acteur}">
							<option value="">--Acteur--
							<option th:each="act : ${listActeurs}" th:value="${act.acteurId}"
								th:text="${act.acteurNom}"></option>
					</select>
				</tr>
				<tr>
					<td colspan="2"><button type="submit" class="btn btn-light">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>