<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/includes/head"></th:block>
<body>
	<button class="btn btn-light">
		<a href="/backend">Accueil</a>
	</button>
	<div align="center">
		<h1>Photos</h1>
		<br>
		<button class="btn btn-light">
			<a href="new/photo">Ajouter</a>
		</button>
		<br />
		<br />
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>Photo ID</th>
					<th>Photo url</th>
					<th>Auteur</th>
					<th>CRUD</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="ph : ${listPhotos}">
					<td th:text="${ph.photoId}">Photo ID</td>
					<td th:text="${ph.photoUrl}">Photo url</td>
					<td th:text="${ph.acteur.acteurId}">Acteur ID</td>

					<td><a th:href="@{'/edit/photo/' + ${ph.photoId}}">Edit</a>
						&nbsp;&nbsp;&nbsp; <a
						th:href="@{'/delete/photo/' + ${ph.photoId}}">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>