<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/includes/head"></th:block>

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<tr>
		<th>Mot-clé :</th>
		<input type="text" name="motCle" th:value="${motCle}">
	</tr>

	<div align="center">
		<h1>Organisations par mots-clé</h1>
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nom</th>
					<th>Numéro</th>
					<th>Email</th>
					<th>MDP</th>
					<th>Question</th>
					<th>Réponse</th>
					<th>Tél.</th>
					<th>Exp.</th>
					<th>Vidéo</th>
					<th>Image</th>
					<th>Site</th>
					<th>Valid</th>
					<th>Inscription</th>
					<th>Catégorie</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="o : ${lastOrganisations}">
					<td th:text="${o.acteurId}">Organisation ID</td>
					<td th:text="${o.organisationNom}">Nom</td>
					<td th:text="${o.organisationNumero}">Numéro</td>
					<td th:text="${o.acteurEmail}">Email</td>
					<td th:text="${o.acteurMDP}">MDP</td>
					<td th:text="${o.acteurQuestion}">Question</td>
					<td th:text="${o.acteurReponse}">Réponse</td>
					<td th:text="${o.acteurTel}">Tél.</td>
					<td th:text="${o.acteurExperience}">Exp.</td>
					<td th:text="${o.acteurVideo}">Vidéo</td>
					<td th:text="${o.acteurImage}">Image</td>
					<td th:text="${o.acteurSite}">Site</td>
					<td th:text="${o.acteurValid}">Valid</td>
					<td th:text="${o.acteurInscription}">Inscription</td>
					<td th:text="${o.categorie.categorieLibelle}">Catégorie</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>