<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/includes/head"></th:block>  
<body>
	<div align="center">
		<h1>Acceuil Back-end</h1>
	</div>
	<br>
	<div align="center" >
		<table>
			<tr>
				<td>
					<ul class="list-group list-group-horizontal">
						<li class="list-group-item"><a href="individu">Individu</a></li>
						<li class="list-group-item"><a href="organisation">Organisation</a></li>	
						<li class="list-group-item"><a href="adresse">Adresse</a></li>
						<li class="list-group-item"><a href="ville">Ville</a></li>
						<li class="list-group-item"><a href="pays">Pays</a></li>
						<li class="list-group-item"><a href="categorie">Catégorie</a></li>
						<li class="list-group-item"><a href="photo">Photo</a></li>
						<li class="list-group-item"><a href="services">Services</a></li>
						<li class="list-group-item"><a href="etat">Etat</a></li>
						<li class="list-group-item"><a href="employe">Employé(e)</a></li>
						<li class="list-group-item"><a href="role">Rôle</a></li>						
						<li class="list-group-item"><a href="parametre">Paramètre</a></li>
						
					</ul>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>