<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/includes/head"></th:block>
<body>
<button class="btn btn-light"><a href="/backend">Acceuil</a></button>
	<div align="center">
		<h1>Edit Paramètre</h1>
		<br />
		<form action="#" th:action="@{/save/parametre}" th:object="${parametre}"
			method="post">

			<table border="0" cellpadding="10">
				<tr>
					<td>Paramètre ID:</td>
					<td><input type="text" th:field="*{parametreId}" readonly="readonly" />
					</td>
				</tr>
				<tr>
					<td>Paramètre libellé:</td>
					<td><input type="text" th:field="*{parametreLibelle}" /></td>
				</tr>
				<tr>
					<td>Paramètre valeur:</td>
					<td><input type="text" th:field="*{parametreValeur}" /></td>
				</tr>
				<tr>
				<td colspan="2"><button type="submit" class="btn btn-light">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>