<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<th:block th:include="/includes/head"></th:block>
<body>
	<button class="btn btn-light">
		<a href="/backend">Backend</a>
	</button>
	<center><h3>Actorep bientôt en ligne ...</h3></center>
	<br>
	<br>
	<br>
	<br>

<div align="center">
	<form>
		<table border="0" cellpading="10">
			<tr>
				<td><select class="form-control">
						<option value="">Catégorie</option>
						<option value="">Pays</option>
				</select></td>
				<td><input type="search" id="searchSite" name="searchSite" size="50"></td>
				<td>
					<button type="submit" class="btn btn-success">GO</button>
				</td>
			</tr>
		</table>
	</form>
</div>


</body>
</html>