<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/includes/head"></th:block>
<body>
	<button class="btn btn-light">
		<a href="/backend">Acceuil</a>
	</button>
	<div align="center">
	<div class="container mt-5">
		<h1>Pays</h1>
		<br>
		<button class="btn btn-light">
			<a href="new/pays">Ajouter</a>
		</button>
		<br /> <br />
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>Pays ID</th>
					<th>Nom</th>
					<th>Code ISO</th>
					<th>CRUD</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p : ${pagesPays.content}">
					<td th:text="${p.paysId}">Pays ID</td>
					<td th:text="${p.paysNom}">Nom</td>
					<td th:text="${p.paysIso}">Code ISO</td>
					<td><a th:href="@{'/edit/pays/' + ${p.paysId}}">Edit</a>
						&nbsp;&nbsp;&nbsp; <a th:href="@{'/delete/pays/' + ${p.paysId}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		<ul class="nav nav-pills">
			<li th:each="page,status:${pagesNombres}">
			<a th:class="${status.index==pageCourante}?'btn btn-primary':'btn'" 
				th:href="@{pays(page=${status.index}, size=${size})}" th:text="${status.index+1}"></a>
			</li>
		</ul>
	</div>
	</div>
</body>
</html>